<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zahnärztliche und Oralchirurgische Praxis Nicolas Arps</title>

	<!--[if lte IE 8]><script src="{{ "/js/html5shiv.js" | absolute_url }}"></script><![endif]-->
	<link media="all" rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | absolute_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | absolute_url }}" /><![endif]-->

	<!-- <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/apple-touch-icon.png" | absolute_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicon-32x32.png" | absolute_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicon-16x16.png" | absolute_url }}"> -->
</head>
<body>

	<!-- Header -->
	<div id="header" class="alt">
		<a class="logo" href="{{ site.baseurl }}{% link index.html %}">
			<strong>Zahnarztpraxis Nicolas Arps</strong> - Zahnarzt und Fachzahnarzt für Oralchirurgie</a>
			<nav id="nav">
				<ul>
					<li {% if page.url == '/' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link index.html %}">Praxis</a></li>
					<li {% if page.url contains '/zeiten' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link zeiten/index.html %}">Behandlungszeiten</a></li>
					<li {% if page.url contains '/impressum' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link impressum/index.html %}">Impressum</a></li>
				</ul>
			</nav>
		</div>


		<!-- Main -->
		<div id="main">
			{{ content }}
		</div>

		<!-- Footer -->
		<div id="footer">
			<h2>Kontakt</h2>
			<p>Wir freuen uns darauf, Sie kennenzulernen.</p>
			<ul class="major-icons">
				<li>
					<h3 class="icon fa-phone major"><span class="label">Phone</span></h3>
					<p>(0761) 33039</p>
				</li>
				<li>
					<h3 class="icon fa-map major"><span class="label">Address</span></h3>
					<address>
						<p>Bertoldstraße 12<br />
							79098 Freiburg</p>
						</address>
					</li>
					<li>
						<h3 class="icon fa-envelope major"><span class="label">Email</span></h3>
						<p><a href="mailto:info@zahnarztpraxis-arps.de">info@zahnarztpraxis-arps.de</a></p>
					</li>
				</ul>
				<!-- <ul class="joined-icons">
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
			</ul> -->
			<p class="copyright">&copy; {{ 'now' | date: "%Y" }} Nicolas Arps · <a href="{{ site.baseurl }}{% link datenschutz/index.html %}">Datenschutz</a></p>
		</div>

		<!-- Scripts -->

		<script src="{{ "/js/jquery.min.js" | absolute_url }}"></script>
		<script src="{{ "/js/jquery.dropotron.min.js" | absolute_url }}"></script>
		<script src="{{ "/js/jquery.scrollex.min.js" | absolute_url }}"></script>
		<script src="{{ "/js/skel.min.js" | absolute_url }}"></script>
		<script src="{{ "/js/util.js" | absolute_url }}"></script>
		<!--[if lte IE 8]><script src="{{ "/js/respond.min.js" | absolute_url }}"></script><![endif]-->
		<script src="{{ "/js/main.js" | absolute_url }}"></script>

	</body>

	</html>
